<div class="col-2 bg-white border-right nav-left p-0">
    <div class="row text-center mt-3 px-5">
        <a href="/admin/article/add" class="btn btn-primary rounded-0 col">发表博文</a>
    </div>
    <div class="list-group list-group-flush border-top border-bottom mt-3 text-center">
        <li class="list-group-item list-group-item-action ">
            <a href="/admin/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-home pr-1"></i>个人中心
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="/admin/article/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-neirongguanli pr-1"></i>文章管理
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="/admin/category/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-leimuguanli pr-1"></i>类目管理
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="/admin/log/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-log pr-1"></i>查看日志
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="/admin/account/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-zhanghuguanli pr-1"></i>账户管理
            </a>
        </li>
    </div>
</div>